.dark-background {
  background-color: #003049;
}
.darker-background {
  background-color: #0a1128;
}
.light-background {
  background-color: #669bbc;
}
.lighter-background {
  background-color: #8ecae6;
}

.dark-font {
  color: #003049;
}

.darker-font {
  color: #0a1128;
}

.light-font {
  color: #669bbc;
}

.lighter-font {
  color: #8ecae6;
}

.nav-link:hover,
.navbar-brand:hover {
  color: #669bbc;
}

.nav-link:focus,
.navbar-brand:focus {
  color: #8ecae6;
}

.dropdown-item:hover {
  color: #8ecae6;
  background-color: #0a1128;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(102, 155, 188)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.btn {
  width: 90px;
}
.btn:hover {
  background-color: #8ecae6;
}
