body {
  background-color: #003049;
}
.navbar,
.nav-link,
.navbar-brand {
  color: #669bbc;
  background-color: #0a1128;
}
.nav-link:hover,
.navbar-brand:hover {
  color: #8ecae6;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(102, 155, 188)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
header {
  color: #669bbc;
  background-color: #003049;
}

.header-text {
  color: #669bbc;
}

.btn {
  background-color: #669bbc;
  color: #003049;
  width: 90px;
}
.btn:hover {
  background-color: #8ecae6;
}
